*,**::before, **::after {
	box-sizing: border-box;
}


body {
  background-color: mintcream
}

.main-card-container {
	text-align: center;
	max-width: 500px;
	margin: auto;
}

header {
	background-color: red;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 5px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}

.selector-button
{
	font-size: 15px;
	font-weight: bold;
	color: black;
	margin-top: 1px;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: 2px solid darkblue;
	border-radius:4px;
	width: 18vw;
	max-width: 18vw;
}

.selector-button:hover{
	color: green;
	border: 2px solid green
}
.show-pick-btn{
	border-radius:4px;
	font-weight: bold;
	color: black;	
	text-decoration: none;
	border: 2px solid darkblue;
}
.show-pick-btn:hover{
	color: green;
	border: 2px solid green;
	border-radius:4px;
}

/* .Arrow-icon{
	font-size: 55px;
	font-weight: bold;
	color: darkblue;
}


.Arrow-icon:hover{
	color: green;
	border: 2px solid green
} */



/* PickFood */

.displayedGFood{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.displayedGFood-photo{
	overflow: hidden;
}
.LikedFood-Container{
	max-width: 30vw;
}
.LikedFood-innerBox{
	display: flex;
	max-width: 30vw;
}

.LikedFood-innerBox .single-LikedFood-image img{
	flex-direction: row;
	width: 20%;
	margin: 10px;
}

.displayedGFood-description {
	text-align: left;
	width: 300px;
	padding: 20px;
	margin-bottom: 10px;
	background-color: white;
	border-bottom: 2px solid darkblue;
	border-right: 2px solid darkblue;
	border-left: 2px solid darkblue;
}

.displayedGFood-name-display {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 0;
}


.displayedGFood img {
	width: 300px;
	height: 400px;
	margin-top: 10px;
	display: block;
	object-fit: cover;
	border-top: 2px solid darkblue;
	border-right: 2px solid darkblue;
	border-left: 2px solid darkblue;
}

.food-button-box{
	display: flex;
	justify-content: space-evenly;
}

.food-button-box button{
	width: 15vw;
	max-height: 15vw;
	margin-left: 5vw;
	margin-right: 5vw;
}

/* ShowPickedGFoods */
.Selected-GFoods-Container {
	padding: 10px;
	background-color: white;
	text-align: center;
	max-width: 40vw;
	margin: auto;
}

.GFoods-Box {
	margin: auto;
	overflow: hidden;
}

.GFoods-Box .single-Gfood {
	display: inline-block;
	width: 30%;
	margin: 10px;

}

.GFoods-Box .single-Gfood-image img {
	width: 140px;
	height: 100px;
	object-fit: cover;
	object-position: 50% 50%;
}

/* Price_Loc_sellec */
.price-range-Loc-container{
	display: flex;
	flex-direction: column;
	padding-left: 5vw;
}
.price-range-slides{
	width: 40vw;
}
.location-input{
	align-items: center;
}
.location-input input{
	width: 30vw;
}
.DollarLogos{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
}
.DollarLogos h3{
 margin-bottom: 0;
}
.tick-markers{
	display: flex;
	justify-content:space-between;
}
.tick {
	position: relative;
	display: flex;
	justify-content: center;
	width: 1px;
	background: gray;
}

/* Pick Restaurants */
.PickRestaurants-mainCard{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.reviewsNdets-container{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	justify-content: space-between;
	width: 60%;
	margin-left: 15vw;

}
.restaurantsDATA-container{
	margin-top: 3vh;
	width: 35%;
	height: 25%;
	font-size: 20px;
	overflow-wrap: break-word; 

}
.rest-button-box{
	width: 55%;
	display: flex;
	justify-content: space-between;
}


.PickRestaurants-img{
	width: 300px;
	height: 400px;
	display: block;
	object-fit: cover;
}
/* ViewRestaurant RestaurantsDetail */
.RestaurantDetail-images{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.RestaurantDetail-images img{
	border: 2px solid darkblue;
	border-radius:5px;
	margin: 3px;
}


.Restaurant-schedule{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
}

/* ViewRestaurant RestaurantsReviews */
.review-rating-container {
 width: 65%;
}
.review-rating-container p {
overflow-wrap: break-word; 
}
/* RestaurantHours */
.schedule-container {
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size:12px;
	color: #777;
}

/* RestaurantAddress */

.Address-container{
	font-size:20px;
}