@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

body {
  background-color: mintcream
}


.main-card-container {
	text-align: center;
	max-width: 500px;
	margin: auto;
}


header {
	background-color: red;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 5px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}
.displayedGFood{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.displayedGFood-photo{
	overflow: hidden;

}

.displayedGFood-description {
	text-align: left;
	width: 300px;
	padding: 20px;
	background-color: white;
}

.displayedGFood-name-display {
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 0;
}


.displayedGFood img {
	width: 300px;
	height: 400px;
	display: block;
	object-fit: cover;
}


.Selected-GFoods-Container {
	padding: 10px;
	background-color: white;
}

.GFoods-Box {
	margin: auto;
	overflow: hidden;
}

.GFoods-Box .single-Gfood {
	display: inline-block;
	width: 33%;
	margin-top: 10px;
}


.GFoods-Box .single-Gfood-image img {
	width: 140px;
	height: 100px;
	object-fit: cover;
	object-position: 50% 50%;
}


/* Price_Loc_sellec */
.price-slide-container{
	display: flex;
	flex-direction: column;
}
.DollarLogos{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
}
.tick-markers{
	display: flex;
	justify-content:space-between;
}
.tick {
	position: relative;
	display: flex;
	justify-content: center;
	width: 1px;
	background: gray;
}